---
---

@import "{{ site.theme }}";

header a.button {
  display: none !important;
}
.view {
  display: none !important;
}
footer {
  display: none !important;
}
<footer>
<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
